@import "tailwindcss";

.pill {
  @apply p-1 px-2 min-w-12 rounded-full text-sm border border-gray-400 bg-gray-100 text-gray-500 inline-block;
}
.pill span,
.pill svg {
  @apply inline-block align-middle;
}

.button {
  @apply align-middle rounded-lg p-2 text-black bg-gray-200 hover:text-white hover:bg-blue-600 inline-block font-medium cursor-pointer;
}

.button-red {
  @apply align-middle rounded-lg p-2 text-red-600 bg-gray-200 hover:text-white hover:bg-red-600 inline-block font-medium cursor-pointer;
}

.button-green {
  @apply inline-block align-middle font-medium cursor-pointer rounded-lg p-2 text-green-700 bg-gray-200 hover:text-white hover:bg-green-700;
}

.icon-button {
  @apply rounded-full p-2 text-black bg-gray-200 hover:text-white hover:bg-blue-600 inline-block font-medium cursor-pointer;
}

.icon-button-red {
  @apply rounded-full p-2 text-red-600 bg-gray-200 hover:text-white hover:bg-red-600 inline-block font-medium cursor-pointer;
}

.input-field {
  @apply block shadow-sm rounded-md border px-3 py-2 mt-2 w-full
         border-gray-400 focus:outline-blue-600;
}

.small-label {
  @apply sm:text-sm sm:font-semibold;
}

.small-input-field {
  @apply block shadow-sm rounded-md border p-1 mt-1 md:text-sm
         border-gray-400 focus:outline-blue-600;
}

.field_with_errors {
  @apply w-full;
}

.field_with_errors .input-field,
.field_with_errors .small-input-field {
  @apply border-red-400 focus:outline-red-600;
}
