<% content_for :title, "Cover Letters" %>

<% content_for :nav_center do %>
  <%= render partial: "layouts/controls/cover_letter/new" %>
<% end %>

<div id="cover_letters" class="min-w-full">
  <% cache @cover_letters do%>
    <% if @cover_letters.any? %>
      <% @cover_letters.each do |cover_letter| %>
        <% cache cover_letter do %>
          <%= render "abstract", cover_letter: %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
