<%= tag.button class: "button button-green js-only submit-action",
               aria: { hidden: "true", disabled: "true" },
               style: "display: none",
               title: "Save", alt: "Save" do %>

  <svg class="size-6 lg:pb-1 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linejoin="round" stroke-linecap="round" d="m16.5,3.75l-0.00314,6.86148c-3,0 -5.99686,-0.02343 -8.99686,-0.02343l0,-6.83805m9,0l1.5,0a2.25,2.25 0 0 1 2.25,2.25l0,12a2.25,2.25 0 0 1 -2.25,2.25l-12,0a2.25,2.25 0 0 1 -2.25,-2.25l0,-12a2.25,2.25 0 0 1 2.25,-2.25l1.5,0m9,0l-9,0"/>
  </svg>
  <span class="hidden lg:inline">Save</span>

<% end %>
