<% content_for :title, "CVs" %>

<% content_for :nav_center do %>
  <%= render partial: "layouts/controls/new_cv" %>
<% end %>

<div id="cvs" class="min-w-full">
  <% cache @cvs do%>
    <% if @cvs.any? %>
      <% @cvs.each do |cv| %>
        <% cache cv do %>
          <%= render partial: "abstract", locals: { cv: }%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
