<% content_for :title, "CV" %>

<% content_for :nav_left do %>
  <%= render partial: "layouts/controls/edit", locals: { cv: @cv } %>
<% end %>

<% content_for :nav_right do %>
  <%= render partial: "layouts/controls/download_json", locals: { cv: @cv } %>
  <%= render partial: "layouts/controls/preview", locals: { cv: @cv } %>
<% end %>

<div class="mx-auto my-2">
  <%= render @cv %>
</div>
