<% content_for :title, "Cv" %>

<% content_for :nav_left do %>
    <%= link_to "Back", cvs_path, class: "button" %>
    <%= link_to "Preview (new page/tab)", preview_cv_path(@cv), class: "button", target: :_blank %>
  </div>
<% end %>

<div class="mx-auto mb-1">
  <%= render @cv %>
</div>
